@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800');

body{
  font-family: 'Raleway', sans-serif;

}
header .navbar {
background-color: #112f37;
}

.navbar-brand{
  height: 70px;
}
.img-responsive{
  max-height: 100%;
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}

section.principal{
  margin-top: 70px;
  text-align: center;
  background-image: url(../imagens/ambiental-2.jpg);
  background-size: cover;
  height: 450px;
}

section.principal h1{
  color: white;
  text-transform: uppercase;
  margin-top: 200px;
  font-size: 90px;
}

section.formulario {
  margin-top: 100px;

}

section.formulario form{
  width: 300px;
  margin: 10px auto;
}

section.formulario input,
section.formulario textarea,
section.formulario button {
    margin: 5px 0;

}
